{{ define "main" }}
<div class="inner">
    <!-- Image Slider (Swiper.js) -->
    <div class="block_slider_type_1">
        <div id="homepage-slider" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{{ "/images/pic-slider-good-things-happen-here.jpg" | relURL }}" alt="We're your neighborhood church - Good things happen here" width="1600" height="738">
                </div>
                <div class="swiper-slide">
                    <img src="{{ "/images/puzzle-top-22.jpg" | relURL }}" alt="All are welcome - we're all part of the same puzzle" width="950" height="438">
                </div>
                <div class="swiper-slide">
                    <img src="{{ "/images/slider-4food-ministries.jpg" | relURL }}" alt="We have four food ministries fighting hunger in our community" width="950" height="438">
                </div>
                <div class="swiper-slide">
                    <img src="{{ "/images/black-lives-matter-banner-header.jpg" | relURL }}" alt="Black Lives Matter - we stand for racial justice" width="950" height="438">
                </div>
                <div class="swiper-slide">
                    <img src="{{ "/images/solar-powered-picslider.jpg" | relURL }}" alt="We're solar powered - committed to sustainability" width="1600" height="738">
                </div>
            </div>
            <!-- Navigation arrows -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- Church Title and Address -->
    <div class="block_general_title_1 w_margin_1">
        <h1>Minnehaha United Methodist Church</h1>
        <p class="church-address">
            <a href="https://www.google.com/maps/place/Minnehaha+United+Methodist+Church/@44.9122631,-93.2207999,17z/data=!3m1!4b1!4m5!3m4!1s0x87f628fdfa9d5cbf:0x1e01a06ebc6f8804!8m2!3d44.9122593!4d-93.2186059" target="_blank" rel="noopener">3701 East 50th Street, Minneapolis, MN 55417</a>
        </p>
        <p class="church-contact">&bull; 612.721.6231 &bull; <a href="mailto:office@minnehaha.org">office@minnehaha.org</a></p>
    </div>

    <!-- Homepage Cards - loaded from /content/homepage/ -->
    <div class="block_posts type_1 type_sort">
        <div class="posts">
            {{/* Get all non-archived, non-draft homepage cards, sorted by weight */}}
            {{ $section := .Site.GetPage "section" "homepage" }}
            {{ if $section }}
                {{ $cards := where $section.Pages "Params.archived" "!=" true }}
                {{ range $cards.ByWeight }}
                    {{ partial "homepage-card.html" . }}
                {{ end }}
            {{ else }}
                <!-- No homepage section found -->
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
